<div class="row-fluid">
    <div class="portlet-body">
        <div class="table-toolbar">
            <div class="btn-group">
                <a ng-click="Init()" href="#/NouveauBonReceptionFournisseur" class="btn green">Nouveau Bon de Reception <i class="icon-plus"></i></a>
            </div>
        </div>
        <div class="dataTables_wrapper form-inline" role="grid">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr role="row">
                        <th role="columnheader"><!--Code--></th>
                        <th role="columnheader">CMD</th>
                        <th role="columnheader">Date</th>
                        <th role="columnheader">Fournisseurs</th>
                        <th role="columnheader">Total HT</th>
                        <th role="columnheader">Total TVA</th>
                        <th role="columnheader">Total TTC</th>
                        <th role="columnheader">Valider</th>
                        <th role="columnheader" style="text-align:center;">#</th>
                    </tr>
                </thead>

                <tbody role="alert" aria-live="polite" aria-relevant="all">
                    <tr ng-repeat="bonReception in BonsReceptionFournisseur" ng-class="{'bg-yellow':bonReception.RetourFacturesClient.Id > 0}">
                        <td>{{$index + 1}}</td>
                        <td class="aligncenter">
                            <a href="#/EditerCommandeFournisseur/{{bonReception.CommandesFournisseur.Id}}" title="Ouvrir la commande associée" style="color:green" ng-if="bonReception.CommandesFournisseur.Id > 0"><i class=" icon-link"></i></a>
                            <a title="Pas de commande rattachée" style="color:red" ng-if="!bonReception.CommandesFournisseur"><i class=" icon-minus"></i></a>
                        </td>
                        <td>{{bonReception.DateCreation | date : 'dd/MM/yyyy HH:mm'}}</td>
                        <td>{{bonReception.Fournisseur.RaisonSociale}}</td>
                        <td>{{bonReception.TotalHt}}</td>
                        <td>{{bonReception.TotalTva}}</td>
                        <td>{{bonReception.TotalTtc}}</td>
                        <td>
                            <a ng-if="!bonReception.MarquerRecu" href="" ng-click="SetBonReception(bonReception)" data-toggle="modal" data-target="#confirmationValiderCommeRecu" style="color:red"><i class="halflings-icon share-alt"></i> Marquer comme reçu</a>
                            <span ng-if="bonReception.MarquerRecu" style="color:green"><i class="icon-ok-circle"></i> Reçu</span>
                        </td>
                        <td>
                            <a href="" data-toggle="modal" data-target="#detailsbonreceptionfournisseur" ng-click="InfosBonReception(bonReception)" class="btn mini blue"><i class="icon-info"></i></a>
                            <a ng-if="!bonReception.MarquerRecu" href="#/EditerBonReceptionFournisseur/{{bonReception.Id}}" class="btn mini green"><i class="icon-edit"></i></a>
                            <a ng-if="!bonReception.MarquerRecu" href="" class="btn mini red"><i class="icon-trash"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="row-fluid">
                <div class="span12">
                    <div class="dataTables_paginate paging_bootstrap pagination">
                        <dir-pagination-controls></dir-pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="confirmationValiderCommeRecu" class="modal container hide fade" tabindex="-1" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h3>Marquer comme reçu</h3>
    </div>
    <div class="modal-body">
        <h4 class="bold">Confirmez-vous que vous avez reçu le bon de reception ?</h4>
        <p>Cette opération provequera la mise en stock des produits contenu dans le bon</p>

        <h4 class="form-section">Date de validation (de mise en stock) de la commande.</h4>
        <div class="row-fluid">
            <div class="span12">
                <div class="control-group">
                    <div class="controls">
                        <input type="text" id="dateValidation" ng-mouseover="OpenDateTimePicker($event)" class="span12 m-wrap" ng-model="DateValidation" value="{{DateToday | date:'dd/MM/yyyy'}}" placeholder="Aujourd'hui" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn">Annuler</button>
        <button type="button" data-dismiss="modal" class="btn blue" ng-click="MarquerCommeRecu(bonReception)">Marquer comme reçu</button>
    </div>
</div>

<div id="commandefournisseur" class="modal container hide fade" tabindex="-1" aria-hidden="true">
    <div class="modal-header">
        <button type="button" ng-click="Annuler()" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h3>Editer un fournisseur</h3>
    </div>
    <div class="modal-body">
        <div class="row-fluid">
            <div class="control-group">
                <label class="control-label">Raison sociale<span class="required">*</span></label>
                <div class="controls">
                    <input type="text" class="span12 m-wrap" ng-model="Fournisseur.RaisonSociale">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Adresse</label>
                <div class="controls">
                    <input type="text" class="span12 m-wrap" ng-model="Fournisseur.Adresse">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Contacts<span class="required">*</span></label>
                <div class="controls">
                    <input type="text" class="span12 m-wrap" ng-model="Fournisseur.Contacts">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Telephone</label>
                <div class="controls">
                    <input type="text" class="span12 m-wrap" ng-model="Fournisseur.Telephone">
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn" ng-click="Annuler()">Annuler</button>
        <button type="button" class="btn blue" data-dismiss="modal" ng-click="SendData()">Valider</button>
    </div>
</div>

<div id="detailsbonreceptionfournisseur" class="modal container hide fade" tabindex="-1" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h3>Details du bon de reception</h3>
    </div>
    <div class="modal-body">
        <div class="row-fluid">
            <div class="span6">
                <div class="control-group">
                    <label>Fournisseur</label>
                    <div class="controls">
                        <span class="bold">{{Commande.Fournisseur.RaisonSociale}}</span>
                    </div>
                </div>
            </div>
            <div class="span6">
                <div class="control-group">
                    <label>Commentaire</label>
                    <div class="controls">
                        <span class="bold">{{Commande.Commentaire}}</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row-fluid">
            <div class="span12 responsive" data-tablet="span6" data-desktop="span12">
                <!--<div class="title2">Détails de la note</div>-->
                <div id="detailVente" class="flip-scroll" style="height:250px;">
                    <table class="table-bordered table-striped table-condensed flip-content">
                        <thead>
                            <tr>
                                <th class="alignleft">DESI.</th>
                                <th class="aligncenter">QTE</th>
                                <th class="aligncenter">PU</th>
                                <th class="aligncenter">Mt HT</th>
                                <th class="aligncenter">TVA</th>
                                <th class="aligncenter">Mt TTC</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr dir-paginate="panierItem in Commande.Panier | itemsPerPage: 8">
                                <td>{{panierItem.Produit.Libelle}}</td>
                                <td class="aligncenter">
                                    <span ng-if="panierItem.TypeVenteId == TYPE_VENTE_UNITE_KEY">{{panierItem.QuantiteUnitaire}} {{panierItem.Produit.Unite.Libelle | limitTo : 4}}{{panierItem.Produit.Unite.Libelle.length > 4 ? '.' : ''}}</span>
                                    <span ng-if="panierItem.TypeVenteId == TYPE_VENTE_BLOCK_KEY">{{panierItem.QuantiteBlock}} {{panierItem.Produit.Block.Libelle | limitTo : 4}}{{panierItem.Produit.Block.Libelle.length > 4 ? '.' : ''}}</span>
                                </td>
                                <td class="aligncenter">
                                    <span>{{panierItem.PrixAchat}}</span>
                                </td>
                                <td class="alignright">{{panierItem.Tht}}</td>
                                <td class="alignright">{{panierItem.Tva}}%</td>
                                <td class="alignright">{{panierItem.Ttc}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row-fluid">
                        <div class="span12">
                            <div class="dataTables_paginate paging_bootstrap pagination">
                                <dir-pagination-controls></dir-pagination-controls>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div id="footerVente" style="text-align:left">
            <h5>Total Hors Taxe : <span class="pull-right text-bold">{{Commande.TotalHt}} F</span></h5>
            <h5>Total TVA : <span class="pull-right text-bold">{{Commande.TotalTva}} F</span></h5>
            <h5>Total TTC : <span class="pull-right text-bold">{{Commande.TotalTtc}} F</span></h5>
        </div>
        <button type="button" data-dismiss="modal" class="btn">Fermer</button>
    </div>
</div>