<div class="row-fluid">
    <div class="portlet-body">
        <div class="dataTables_wrapper form-inline" role="grid">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr role="row">
                        <th role="columnheader">N°</th>
                        <th role="columnheader">Date ouverture</th>
                        <th role="columnheader">Date clôture</th>
                        <th role="columnheader">Sortie de caisse</th>
                        <th role="columnheader" class="bold">Entrée en caisse</th>
                        <th role="columnheader" class="bold">Total en caisse</th>
                        <th role="columnheader">Etat</th>
                        <th role="columnheader">Cloturée par</th>
                        <th role="columnheader">#</th>
                    </tr>
                </thead>

                <tbody role="alert" aria-live="polite" aria-relevant="all">
                    <tr dir-paginate="caisseItem in Caisses | itemsPerPage: 20">
                        <td>{{caisseItem.Id}}</td>
                        <td>{{caisseItem.DateOuverture | date : 'dd/MM/yyyy HH:mm'}}</td>
                        <td>{{caisseItem.DateCloture | date : 'dd/MM/yyyy HH:mm'}}</td>
                        <td><a data-toggle="modal" data-target="#detailssortiedecaisse" ng-click="GetSortieDeCaisse(caisseItem.Id)" ng-if="caisseItem.SortieDeCaisseTotal > 0" href="" class="icon-info-sign text-error"></a> {{caisseItem.SortieDeCaisseTotal}}</td>
                        <td class="bold">{{caisseItem.EntreeDeCaisseTotal}}</td>
                        <td class="bold">{{caisseItem.MontantTotalEnCaisse}}</td>
                        <td>
                            <span ng-if="!caisseItem.IsClosed" style="color:green;" class="bold">Ouverte</span>
                            <span ng-if="caisseItem.IsClosed" style="color:red;" class="bold">Cloturée</span>
                        </td>
                        <td>{{caisseItem.ClotureePar.Login}}</td>
                        <td>
                            <a href="#/InfosSessionCaisses/{{caisseItem.Id}}" class="btn mini blue"><i class="icon-eye-open"></i> Voir les sessions</a>
                            <a href="#/InventaireDeStocks/{{caisseItem.Id}}" class="btn mini green"><i class="icon-book"></i> Inventaire de stock</a>
                            <a ng-if="!caisseItem.IsClosed" ng-click="CloturerCaisse(caisseItem.Id)" class="btn mini"><i class="icon-lock"></i> Clôturer</a>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="row-fluid">
                <div class="span12">
                    <div class="dataTables_paginate paging_bootstrap pagination">
                        <dir-pagination-controls></dir-pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="detailssortiedecaisse" class="modal hide fade" tabindex="-1" data-width="760" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h3>Details sorties de caisse</h3>    
        <div class="modal-body">
            <div class="row-fluid">
                <div class="span12 responsive" data-tablet="span6" data-desktop="span12">
                    <div id="detailVente" class="flip-scroll" style="height:250px;">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr role="row">
                                    <th role="columnheader">Date</th>
                                    <th role="columnheader">Montant</th>
                                    <th role="columnheader">Motif</th>
                                </tr>
                            </thead>

                            <tbody role="alert" aria-live="polite" aria-relevant="all">
                                <tr dir-paginate="sortiesDeCaisse in SortiesDeCaisses | itemsPerPage: 8">
                                    <td>{{sortiesDeCaisse.DateCreation | date : 'dd/MM/yyyy HH:mm'}}</td>
                                    <td>{{sortiesDeCaisse.Montant}}</td>
                                    <td>{{sortiesDeCaisse.Motif}}</td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="row-fluid">
                            <div class="span12">
                                <div class="dataTables_paginate paging_bootstrap pagination">
                                    <dir-pagination-controls></dir-pagination-controls>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div id="footerVente" style="text-align:left">
            <h3>Total<span class="pull-right text-bold">{{TotalSortiesDeCaisses}} F</span></h3>
        </div>
        <button type="button" data-dismiss="modal" class="btn">Fermer</button>
    </div>
</div>