<div class="row-fluid">
    <div class="portlet-body">
        <div class="table-toolbar">
            <h3 class="bold">
                Inventaire du {{Caisse.DateOuverture | date : 'dd/MM/yyyy'}}
                <a class="pull-right btn blue" href="#/Caisses"><i class="icon-circle-arrow-left"></i> Retour</a>
            </h3>
            <hr />
        </div>
        <div class="dataTables_wrapper form-inline" role="grid">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr role="row">
                        <th role="columnheader">Categorie</th>
                        <th role="columnheader">Produit</th>
                        <th role="columnheader">Stock initial</th>
                        <th role="columnheader">Stock vendu</th>
                        <th role="columnheader">Stock transferé</th>
                        <th role="columnheader">Stock final</th>
                        <th role="columnheader">Stock Physique</th>
                        <th role="columnheader">Stock Diff.</th>
                    </tr>
                </thead>

                <tbody role="alert" aria-live="polite" aria-relevant="all">
                    <tr ng-repeat="inventaire in Inventaires">
                        <td>{{inventaire.Produit.Categorie.Libelle}}</td>
                        <td>{{inventaire.Produit.Libelle}}</td>
                        <td>
                            <div ng-class="{'text-blue':inventaire.IsVendu}" ng-if="inventaire.Produit.Unite.IsBlock">
                                <span>
                                    {{inventaire.StockInitialBlock}} {{inventaire.Produit.Block.Libelle | limitTo : 4}}{{inventaire.Produit.Block.Libelle.length > 4 ? '.' : ''}}
                                </span>

                                <span ng-if="inventaire.StockInitialResteUnite != 0">
                                    {{inventaire.StockInitialResteUnite}} {{inventaire.Produit.Unite.Libelle | limitTo : 4}}{{inventaire.Produit.Unite.Libelle.length > 4 ? '.' : ''}}
                                </span>
                            </div>

                            <div ng-class="{'text-blue':inventaire.IsVendu}" ng-if="!inventaire.Produit.Unite.IsBlock">
                                <span>
                                    {{inventaire.StockInitialBlock}} {{inventaire.Produit.Unite.Libelle | limitTo : 4}}{{inventaire.Produit.Unite.Libelle.length > 4 ? '.' : ''}}
                                </span>
                            </div>
                        </td>
                        <td>
                            <a data-toggle="modal" data-target="#detailsProduitsVendu" ng-click="detailsProduits(inventaire)">
                                <div ng-class="{'text-blue':inventaire.IsVendu}" ng-if="inventaire.Produit.Unite.IsBlock">
                                    <span>
                                        {{inventaire.StockVenduBlock}} {{inventaire.Produit.Block.Libelle | limitTo : 4}}{{inventaire.Produit.Block.Libelle.length > 4 ? '.' : ''}}
                                    </span>

                                    <span ng-if="inventaire.StockVenduResteUnite != 0">
                                        {{inventaire.StockVenduResteUnite}} {{inventaire.Produit.Unite.Libelle | limitTo : 4}}{{inventaire.Produit.Unite.Libelle.length > 4 ? '.' : ''}}
                                    </span>
                                </div>

                                <div ng-class="{'text-blue':inventaire.IsVendu}" ng-if="!inventaire.Produit.Unite.IsBlock">
                                    <span>
                                        {{inventaire.StockVenduBlock}} {{inventaire.Produit.Unite.Libelle | limitTo : 4}}{{inventaire.Produit.Unite.Libelle.length > 4 ? '.' : ''}}
                                    </span>
                                </div>
                            </a>
                        </td>

                        <td>
                            <div ng-class="{'text-blue':inventaire.IsVendu}" ng-if="inventaire.Produit.Unite.IsBlock">
                                <span>
                                    {{inventaire.StockTransfereBlock}} {{inventaire.Produit.Block.Libelle | limitTo : 4}}{{inventaire.Produit.Block.Libelle.length > 4 ? '.' : ''}}
                                </span>

                                <span ng-if="inventaire.StockTransfereResteUnite != 0">
                                    {{inventaire.StockTransfereResteUnite}} {{inventaire.Produit.Unite.Libelle | limitTo : 4}}{{inventaire.Produit.Unite.Libelle.length > 4 ? '.' : ''}}
                                </span>
                            </div>

                            <div ng-class="{'text-blue':inventaire.IsVendu}" ng-if="!inventaire.Produit.Unite.IsBlock">
                                <span>
                                    {{inventaire.StockTransfereBlock}} {{inventaire.Produit.Unite.Libelle | limitTo : 4}}{{inventaire.Produit.Unite.Libelle.length > 4 ? '.' : ''}}
                                </span>
                            </div>
                        </td>

                        <td>
                            <div ng-class="{'text-blue':inventaire.IsVendu}" ng-if="inventaire.Produit.Unite.IsBlock">
                                <span>
                                    {{inventaire.StockFinalBlock}} {{inventaire.Produit.Block.Libelle | limitTo : 4}}{{inventaire.Produit.Block.Libelle.length > 4 ? '.' : ''}}
                                </span>

                                <span ng-if="inventaire.StockFinalResteUnite != 0">
                                    {{inventaire.StockFinalResteUnite}} {{inventaire.Produit.Unite.Libelle | limitTo : 4}}{{inventaire.Produit.Unite.Libelle.length > 4 ? '.' : ''}}
                                </span>
                            </div>

                            <div ng-class="{'text-blue':inventaire.IsVendu}" ng-if="!inventaire.Produit.Unite.IsBlock">
                                <span>
                                    {{inventaire.StockFinalBlock}} {{inventaire.Produit.Unite.Libelle | limitTo : 4}}{{inventaire.Produit.Unite.Libelle.length > 4 ? '.' : ''}}
                                </span>
                            </div>
                        </td>

                        <td>
                            <div ng-class="{'text-blue':inventaire.IsVendu}" ng-if="inventaire.Produit.Unite.IsBlock">
                                <span>
                                    {{inventaire.StockPhysiqueBlock}} {{inventaire.Produit.Block.Libelle | limitTo : 4}}{{inventaire.Produit.Block.Libelle.length > 4 ? '.' : ''}}
                                </span>

                                <span ng-if="inventaire.StockPhysiqueResteUnite != 0">
                                    {{inventaire.StockPhysiqueResteUnite}} {{inventaire.Produit.Unite.Libelle | limitTo : 4}}{{inventaire.Produit.Unite.Libelle.length > 4 ? '.' : ''}}
                                </span>
                            </div>

                            <div ng-class="{'text-blue':inventaire.IsVendu}" ng-if="!inventaire.Produit.Unite.IsBlock">
                                <span>
                                    {{inventaire.StockPhysiqueBlock}} {{inventaire.Produit.Unite.Libelle | limitTo : 4}}{{inventaire.Produit.Unite.Libelle.length > 4 ? '.' : ''}}
                                </span>
                            </div>
                        </td>

                        <td>
                            <div ng-class="{'text-red':(inventaire.StockDiffBlock != 0 || inventaire.StockDiffResteUnite != 0)}" ng-if="inventaire.Produit.Unite.IsBlock">
                                <span>
                                    {{inventaire.StockDiffBlock}} {{inventaire.Produit.Block.Libelle | limitTo : 4}}{{inventaire.Produit.Block.Libelle.length > 4 ? '.' : ''}}
                                </span>

                                <span ng-if="inventaire.StockDiffResteUnite != 0">
                                    {{inventaire.StockDiffResteUnite}} {{inventaire.Produit.Unite.Libelle | limitTo : 4}}{{inventaire.Produit.Unite.Libelle.length > 4 ? '.' : ''}}
                                </span>
                            </div>

                            <div ng-class="{'text-red':(inventaire.StockDiffBlock != inventaire.StockPhysiqueBlock)}" ng-if="!inventaire.Produit.Unite.IsBlock">
                                <span>
                                    {{inventaire.StockDiffBlock}} {{inventaire.Produit.Unite.Libelle | limitTo : 4}}{{inventaire.Produit.Unite.Libelle.length > 4 ? '.' : ''}}
                                </span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

            <!--<div class="row-fluid">
                <div class="span12">
                    <div class="dataTables_paginate paging_bootstrap pagination">
                        <dir-pagination-controls></dir-pagination-controls>
                    </div>
                </div>
            </div>-->
        </div>
    </div>
</div>

<div id="detailsProduitsVendu" class="modal hide fade" tabindex="-1" data-width="760" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h3>Details des produits</h3>
    </div>
    <div class="modal-body">
        <div class="row-fluid">
            <div class="span12 responsive" data-tablet="span6" data-desktop="span12">
                <!--<div class="title2">Détails de la note</div>-->
                <div id="detailVente" class="flip-scroll" style="height:250px;">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr role="row">
                                <th role="columnheader">N°</th>
                                <th role="columnheader">Date</th>
                                <th role="columnheader">Client</th>
                                <th role="columnheader">Nombre de produit</th>
                            </tr>
                        </thead>

                        <tbody role="alert" aria-live="polite" aria-relevant="all">
                            <tr ng-repeat="facture in detailsFactureClient">
                                <td>{{$index + 1}}</td>
                                <td>{{facture.DateCreation | date : 'dd/MM/yyyy HH:mm'}}</td>
                                <td class="bold">
                                    <span ng-if="facture.FacturesClient.Client.NomComplet.length > 0">{{facture.FacturesClient.Client.NomComplet}}</span>
                                    <span ng-if="!facture.FacturesClient.Client.NomComplet || facture.FacturesClient.Client.NomComplet.length <= 0" class="text-red">CLIENT CASH</span>
                                    
                                </td>
                                <td>
                                    <!--{{facture.Quantite}}-->
                                    <div ng-if="facture.Produit.Unite.IsBlock">
                                        <span>
                                            {{facture.QuantiteBlock}} {{facture.Produit.Block.Libelle | limitTo : 4}}{{facture.Produit.Block.Libelle.length > 4 ? '.' : ''}}
                                        </span>

                                        <span ng-if="facture.QuantiteResteUnite != 0">
                                            {{facture.QuantiteResteUnite}} {{facture.Produit.Unite.Libelle | limitTo : 4}}{{facture.Produit.Unite.Libelle.length > 4 ? '.' : ''}}
                                        </span>
                                    </div>

                                    <div ng-if="!facture.Produit.Unite.IsBlock">
                                        <span>
                                            {{facture.QuantiteBlock}} {{facture.Produit.Unite.Libelle | limitTo : 4}}{{facture.Produit.Unite.Libelle.length > 4 ? '.' : ''}}
                                        </span>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn">Fermer</button>
    </div>
</div>
