<div class="row-fluid">
    <div class="portlet-body form">
        <!-- BEGIN FORM-->
        <div class="form-horizontal form-view">
            <div class="row-fluid">
                <div class="span6 ">
                    <div class="control-group">
                        <label class="control-label" style="width:initial;" for="firstName">Session ouverte le </label>
                        <div class="controls">
                            <span class="text">{{SessionCaisseUser.DateOuverture | date : 'dd/MM/yyyy HH:mm'}}</span>
                        </div>
                    </div>
                </div>
                <!--/span-->
                <div class="span6 ">
                    <div class="control-group">
                        <label class="control-label" style="width:initial;">Total sorties de caisse </label>
                        <div class="controls">
                            <span class="text">{{SessionCaisseUser.SortiesDeCaisse}}</span>
                        </div>
                    </div>
                </div>
                <!--/span-->
            </div>
            <!--/row-->
            <div class="row-fluid">
                <div class="span6 ">
                    <div class="control-group">
                        <label class="control-label" style="width:initial;">Session fermée le </label>
                        <div class="controls">
                            <span class="text">{{SessionCaisseUser.DateCloture | date : 'dd/MM/yyyy HH:mm'}}</span>
                        </div>
                    </div>
                </div>
                <!--/span-->
                <div class="span6 ">
                    <div class="control-group">
                        <label class="control-label" style="width:initial;">Transaction en espèce </label>
                        <div class="controls">
                            <span class="text bold">{{SessionCaisseUser.TotalPaiement}}</span>
                        </div>
                    </div>
                </div>
                <!--/span-->
            </div>
            <!--/row-->
            <div class="row-fluid">
                <!--/span-->
                <div class="span6">
                    <div class="control-group">
                        <label class="control-label" style="width:initial;">Fond de caisse </label>
                        <div class="controls">
                            <span class="text bold">{{SessionCaisseUser.FondDeCaisse}}</span>
                        </div>
                    </div>
                </div>
                <!--/span-->

                <!--/span-->
                <div class="span6">
                    <div class="control-group">
                        <label class="control-label bold text-green" style="width:initial;">Total espèce theorique </label>
                        <div class="controls">
                            <span class="text bold text-green">{{SessionCaisseUser.TotalEspeceTheorique}}</span>
                        </div>
                    </div>
                </div>
                <!--/span-->
            </div>

            <div class="row-fluid">
                <!--/span-->
                <div class="offset6 span6">
                    <div class="control-group">
                        <label class="control-label bold text-blue" style="width:initial;">Total espèce fermeture </label>
                        <div class="controls">
                            <span class="text bold text-blue">{{SessionCaisseUser.TotalEspeceFermeture}}</span>
                        </div>
                    </div>
                </div>
                <!--/span-->
            </div>

            <div class="row-fluid" style="margin-bottom:10px;" ng-if="!SessionCaisseUser.IsClosed">
                <div class="span4" style="margin-top: 5px;">
                    <span class="text-blue" style="font-style:italic; font-size:1.4em" ;>Total d'espèce à la fermeture</span>
                </div>
                <div class="span6">
                    <input type="text" style="font-size:1.3em" class="span12 m-wrap bold" ng-change="CalculerDifference()" ng-model="SessionCaisseUser.TotalEspeceSaisi" />
                </div>
                <div class="span2">
                    <button type="button" ng-if="SessionCaisseUser.TotalEspeceSaisi >= 0" class="btn green" data-toggle="modal" data-target="#fermetureCaisse"><i class="icon-lock"></i> Fermer la session</button>
                </div>
            </div>
           
        </div>
        <!-- END FORM-->

        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr role="row">
                    <th role="columnheader">N°</th>
                    <th role="columnheader">Date</th>
                    <th role="columnheader">Description</th>
                    <!--<th role="columnheader">#</th>-->
                </tr>
            </thead>

            <tbody role="alert" aria-live="polite" aria-relevant="all">
                <tr ng-repeat="journal in ListJournal">
                    <td>{{$index + 1}}</td>
                    <td>{{journal.Date | date : 'dd/MM/yyyy HH:mm'}}</td>
                    <td class="bold">{{journal.Description}}{{journal.Montant}} F</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div id="fermetureCaisse" class="modal hide fade" tabindex="-1" data-width="760" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h3>Fermeture de caisse</h3>
    </div>
    <div class="modal-body">
        <div class="row-fluid">
            <div class="span4">
                <div class="control-group">
                    <label class="control-label">Total espèce théorique</label>
                    <div class="controls">
                        <input type="text" ng-model="SessionCaisseUser.TotalEspeceTheorique" class="m-wrap span12 bold" disabled>
                    </div>
                </div>
            </div>

            <div class="span4">
                <div class="control-group">
                    <label class="control-label">Total d'espèce à la fermeture</label>
                    <div class="controls">
                        <input type="text" ng-model="SessionCaisseUser.TotalEspeceSaisi" class="m-wrap span12 bold" disabled>
                    </div>
                </div>
            </div>

            <div class="span4">
                <div class="control-group">
                    <label class="control-label">Différence</label>
                    <div class="controls">
                        <input type="text" ng-model="SessionCaisseUser.DifferenceTotalEspece" class="m-wrap span12 bold" disabled>
                    </div>
                </div>
            </div>

        </div>
        <div class="row-fluid" ng-if="SessionCaisseUser.DifferenceTotalEspece != 0">
            <div class="span12">
                <div class="control-group">
                    <label class="control-label">Observation</label>
                    <div class="controls">
                        <textarea name="observation" ng-trim="true" ng-model="SessionCaisseUser.Observation" placeholder="Justifiez la différence" class="m-wrap span12" required></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn">Annuler</button>
        <button type="button" ng-click="FermerSession()" class="btn blue" data-dismiss="modal">Valider</button>
    </div>
</div>