<div class="row-fluid">
    <div class="span2 responsive" data-tablet="span6" data-desktop="span2">
        <input class="m-wrap span12" type="text" name="name" ng-model="searchProduit" placeholder="Recherche">
        <div id="categorieProduit" class="list-item">
            <ul>
                <li ng-class="{active: categorie.Id == SelectedItem}" ng-repeat="categorie in Categories" ng-click="ChargerProduits(categorie)">
                    <a>{{categorie.Libelle}}</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="span5 responsive" data-tablet="span6" data-desktop="span5">
        <div class="title2">
            Produits
        </div>
        <div id="listProduits" class="row-fluid">
            <div ng-click="Init(cProduit)" class="button-tem" data-toggle="modal" data-target="#AjouterProduitAuPanier" ng-repeat="cProduit in ProduitsParCategorie | filter:searchProduit">
                <i class="text-bold">{{cProduit.Libelle}}</i>
                <div></div>
                <span class="badge" ng-class="{'badge-success' : cProduit.QuantiteStockBlock > cProduit.StockMinimum, 'badge-important' : cProduit.QuantiteStockBlock <= cProduit.StockMinimum}" ng-if="cProduit.UniteParBlock > 1">{{cProduit.QuantiteStockBlock}} <span ng-if="cProduit.QuantiteStockResteEnUnite != 0">[{{cProduit.QuantiteStockResteEnUnite}}]</span></span>
                <span class="badge" ng-class="{'badge-success' : cProduit.QuantiteStockBlock > cProduit.StockMinimum, 'badge-important' : cProduit.QuantiteStockBlock <= cProduit.StockMinimum}" ng-if="cProduit.UniteParBlock <= 1">{{cProduit.QuantiteStockBlock}}</span>
            </div>
        </div>
        <input class="m-wrap span12" type="text" name="name" ng-model="searchProduit" placeholder="Recherche">
    </div>

    <div class="span5 responsive" data-tablet="span6" data-desktop="span5">
        <div class="title2">
            Détails de la note
        </div>
        <div id="detailVente" class="flip-scroll">
            <table class="table-bordered table-striped table-condensed flip-content">
                <thead>
                    <tr>
                        <th class="alignleft">DESI.</th>
                        <th class="aligncenter">QTE</th>
                        <th class="aligncenter">PU</th>
                        <th class="aligncenter">TOT</th>
                        <th class="aligncenter">#</th>
                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="panierItem in Panier | itemsPerPage: 10">
                        <td>{{panierItem.Produit.Libelle}}</td>
                        <td class="aligncenter">
                            <span ng-if="panierItem.TypeVenteId == TYPE_VENTE_UNITE_KEY">{{panierItem.QuantiteUnitaire}} {{panierItem.Produit.Unite.Libelle | limitTo : 4}}{{panierItem.Produit.Unite.Libelle.length > 4 ? '.' : ''}}</span>
                            <span ng-if="panierItem.TypeVenteId == TYPE_VENTE_BLOCK_KEY">{{panierItem.QuantiteBlock}} {{panierItem.Produit.Block.Libelle | limitTo : 4}}{{panierItem.Produit.Block.Libelle.length > 4 ? '.' : ''}}</span>
                        </td>
                        <td class="aligncenter">
                            <span ng-if="panierItem.TypeVenteId == TYPE_VENTE_UNITE_KEY">{{panierItem.PrixUnitaire}}</span>
                            <span ng-if="panierItem.TypeVenteId == TYPE_VENTE_BLOCK_KEY">{{panierItem.PrixBlock}}</span>
                        </td>
                        <td class="alignright">{{panierItem.Totaux}}</td>
                        <td>
                            <a ng-click="SupprimerItemPanier($index)" class="btn mini red"><i class="icon-trash"></i></a>
                            <a ng-click="Modifier(panierItem)" data-toggle="modal" data-target="#AjouterProduitAuPanier" class="btn mini default"><i class="icon-edit"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="row-fluid">
                <div class="span12">
                    <div class="dataTables_paginate paging_bootstrap pagination">
                        <dir-pagination-controls></dir-pagination-controls>
                    </div>
                </div>
            </div>
        </div>
        <div id="footerVente">
            <h3>Total: <span class="pull-right text-bold">{{TotauxPanier}} F</span></h3>
            <div class="row-fluid">
                <div class="span6">
                    <button ng-disabled="Panier.length < 1" data-toggle="modal" data-target="#cash" class="btn btn-block blue big" ng-click="CaisseInit()"><i class="icon-shopping-cart"></i> CASH</button>
                </div>
                <div class="span6">
                    <button ng-disabled="Panier.length < 1" class="btn btn-block purple big" data-toggle="modal" data-target="#FactureClient" ng-click="CaisseInit()"><i class="icon-user"></i> FACTURE CLIENT</button>
                </div>
                
            </div>
            <div class="clearfix" style="margin-bottom:10px;"></div>
            <div class="row-fluid">
                <div class="span6">
                    <button ng-disabled="Panier.length < 1" class="btn btn-block green big" data-toggle="modal" data-target="#venteClient" ng-click="CaisseInit()"><i class="icon-truck"></i> <abbr title="Commande">CMD</abbr> CHINEUR</button>
                </div>
                <div class="span6">
                    <button ng-disabled="Panier.length < 1" class="btn btn-block big" data-toggle="modal" data-target="#confirmationAnnulation"><i class="icon-cancel"></i> ANNULER</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="confirmationAnnulation" class="modal hide fade" data-backdrop="static" tabindex="-1"  aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h3>Annulation</h3>
    </div>
    <div class="modal-body">
        <h4>Voulez-vous annuler cette vente ?</h4>
    </div>
    <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn">Non</button>
        <button type="button" data-dismiss="modal" class="btn red" ng-click="ResetComptoir()">Oui</button>
    </div>
</div>

<div id="FactureClient" class="modal hide fade" tabindex="-1" data-backdrop="static" data-width="960" data-keyboard="false">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="Annuler()" aria-hidden="true"></button>
        <h3>Facture Client</h3>
        <div class="form-wizard">
            <div class="navbar steps" style="margin:0;padding:0;">
                <div class="navbar-inner" style="padding:0;">
                    <ul class="row-fluid nav nav-pills">
                        <li class="span6 active ">
                            <a href="" data-target="#tab1" data-toggle="tab" class="step active">
                                <span class="number">1</span>
                                <div class="desc"><i class="icon-ok"></i> Selectionner un client</div>
                            </a>
                        </li>
                        <li class="span6 active">
                            <a href="" data-toggle="tab" data-target="#tab2" class="step active">
                                <span class="number">2</span>
                                <span class="desc"><i class="icon-ok"></i> Caisse</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-body">
        <div class="row-fluid">
            <div class="span6" data-tablet="span6" data-desktop="span6">
                <input class="m-wrap span12" type="text" ng-model="searchText" name="name" value="" placeholder="Recherche">
                <div id="categorieProduit" class="list-item" style="height:240px;overflow-y:auto">
                    <ul>
                        <li ng-class="{active: client.Id == ClientSelected.Id}" ng-repeat="client in Clients | filter:searchText" ng-click="SelectionnerClient(client)">
                            <a>{{client.NomComplet}}</a>
                        </li>
                    </ul>
                </div>
                <button type="button" ng-click="InitNewClient()" class="btn blue" data-toggle="modal" data-target="#NouveauClient">Nouveau client</button>

            </div>
            <div class="span6" data-tablet="span6" data-desktop="span6">
                <form class="form form-horizontal form-row-seperated">
                    <!--<div class="control-group">
                        <label class="control-label">MONTANT TTC </label>
                        <div class="controls">
                            <div class="input-append">
                                <input class="m-wrap" style="font-weight:bold" type="text" ng-model="TotauxPanier" disabled /><span class="add-on"> F</span>
                            </div>
                        </div>
                    </div>-->
                    <!--<div class="control-group">
                        <label class="control-label">Remise</label>
                        <div class="controls">
                            <div class="input-append">
                                <input class="m-wrap" ng-change="CalculerCaisse()" ng-model="Caisse.Remise" type="number" min="0" required>
                                <span class="add-on"> F</span>
                            </div>
                        </div>
                    </div>-->
                    <div class="control-group">
                        <label class="control-label">NET A PAYER</label>
                        <div class="controls">
                            <div class="input-append">
                                <input class="m-wrap" style="font-weight:bold" ng-model="Caisse.NetApayer" type="text" disabled />
                                <span class="add-on"> F</span>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Motant perçu</label>
                        <div class="controls">
                            <div class="input-append">
                                <input class="m-wrap" type="number" step="100" ng-change="CalculerCaisse()" ng-model="Caisse.MontantPercu" min="0" required />
                                <span class="add-on"> F</span>
                            </div>
                        </div>
                    </div>
                    <!--<div class="control-group">
                        <label class="control-label">Montant rendu</label>
                        <div class="controls">
                            <div class="input-append">
                                <input class="m-wrap" style="font-weight:bold" ng-model="Caisse.MontantRendu" type="text" disabled />
                                <span class="add-on"> F</span>
                            </div>
                        </div>
                    </div>-->
                    <div class="control-group">
                        <label class="control-label">Client</label>
                        <div class="controls">
                            <div class="input-append">
                                <span class="text bold help-inline" style="color:black">{{ClientSelected.NomComplet}}</span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" ng-click="Annuler()" data-dismiss="modal" class="btn default">Annuler</button>
        <button type="button" ng-if="ClientSelected.NomComplet.length > 0" ng-click="SendData('FactureClient', true)" data-dismiss="modal" class="btn blue">Valider</button>
    </div>
</div>

<div id="NouveauClient" class="modal hide fade" data-backdrop="static" tabindex="-1" aria-hidden="true">
    <div class="modal-header">
        <button type="button" ng-click="Annuler()" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h3>Nouveau client</h3>
        <!--{{Client}}-->
    </div>
    <div class="modal-body">
        <form novalidate name="formClient">
            <div class="row-fluid">
                <div class="control-group">
                    <label class="control-label">Nom complet<span class="required">*</span></label>
                    <div class="controls">
                        <input type="text" placeholder="Ex : Kouakou" name="nomComplet" class="span12 m-wrap" ng-model="Client.NomComplet" required ng-minlength="3">
                    </div>
                </div>
                
                <div class="control-group">
                    <label class="control-label">Contacts<span class="required">*</span></label>
                    <div class="controls">
                        <input type="text" placeholder="Ex : 56079996" name="contacts" class="span12 m-wrap" ng-model="Client.Contacts" required ng-minlength="8">
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">Adresse</label>
                    <div class="controls">
                        <input type="text" class="span12 m-wrap" ng-model="Client.Adresse">
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">Solde inital<span class="required">*</span></label>
                    <div class="controls">
                        <input type="text" class="span12 m-wrap" ng-model="Client.SoldeInitial">
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn" ng-click="Annuler()">Annuler</button>
        <button ng-if="formClient.nomComplet.$valid && formClient.contacts.$valid" type="button" class="btn blue" data-dismiss="modal" ng-click="SendNewClientData()">Valider</button>
    </div>
</div>

<div id="cash" class="modal hide fade" data-backdrop="static" tabindex="-1" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h3>Cash</h3>
    </div>
    <div class="modal-body">
        <div class="row-fluid">
            <div class="span12">
                <form novalidate name="formCash" class="form form-horizontal form-row-seperated">

                    <div class="control-group">
                        <label class="control-label">MONTANT TTC </label>
                        <div class="controls">
                            <div class="input-append">
                                <input class="m-wrap" style="font-weight:bold" type="text" ng-model="TotauxPanier" disabled /><span class="add-on"> F</span>
                            </div>
                        </div>
                    </div>
                    <!--<div class="control-group">
                        <label class="control-label">Remise</label>
                        <div class="controls">
                            <div class="input-append">
                                <input class="m-wrap" ng-change="CalculerCaisse()" ng-model="Caisse.Remise" type="number" min="0" required>
                                <span class="add-on"> F</span>
                            </div>
                        </div>
                    </div>-->
                    <div class="control-group">
                        <label class="control-label">NET A PAYER</label>
                        <div class="controls">
                            <div class="input-append">
                                <input class="m-wrap" style="font-weight:bold" name="netApayer" ng-model="Caisse.NetApayer" type="text" disabled />
                                <span class="add-on"> F</span>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Motant perçu</label>
                        <div class="controls">
                            <div class="input-append">
                                <input class="m-wrap" type="number" name="montantPercu" ng-change="CalculerCaisse()" ng-model="Caisse.MontantPercu" step="100" min="0" required />
                                <span class="add-on"> F</span>
                            </div>
                            <button type="button" class="m-wrap btn" ng-click="CopierNetApayer()">Copier le Net A Payer</button>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Montant à rendre</label>
                        <div class="controls">
                            <div class="input-append">
                                <input class="m-wrap" style="font-weight:bold" ng-model="Caisse.MontantRendu" type="text" disabled />
                                <span class="add-on"> F</span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn">Annuler</button>
        <button ng-if="Caisse.MontantPercu >= Caisse.NetApayer" type="button" data-dismiss="modal" ng-click="SendData('cash', false)" class="btn blue">Valider</button>
        <button ng-if="Caisse.MontantPercu >= Caisse.NetApayer" type="button" data-dismiss="modal" ng-click="SendData('cash', true)" class="btn green">Valider &amp; Ticket</button>
    </div>
</div>

<div id="AjouterProduitAuPanier" class="modal hide fade" data-backdrop="static" tabindex="-1" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h3>Ajouter au panier</h3>
    </div>
    <div class="modal-body">
        <div class="row-fluid">
            <div class="span12">
                <form novalidate class="horizontal-form" name="panierForm">
                    <h4 class="form-section text-bold">{{ProduitAajouter.Produit.Libelle}}</h4>

                    <div class="row-fluid">
                        <div class="span12">
                            <div class="control-group">
                                <label class="control-label">Type de vente</label>
                                <div class="controls">
                                    <select class="m-wrap span12" name="typeVente" ng-model="ProduitAajouter.TypeVenteId" required>
                                        <option ng-repeat="item in TypesDeVente" value="{{item.Id}}">{{item.Libelle}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <h4 class="form-section" ng-if="(ProduitAajouter.Produit.Unite.IsBlock) && (ProduitAajouter.TypeVenteId == TYPE_VENTE_BLOCK_KEY)">Vente en block</h4>
                    <div class="row-fluid" ng-if="(ProduitAajouter.Produit.Unite.IsBlock) && (ProduitAajouter.TypeVenteId == TYPE_VENTE_BLOCK_KEY)">
                        <div class="span4">
                            <div class="control-group">
                                <label class="control-label">Quantité</label>
                                <div class="controls">
                                    <div class="input-append">
                                        <input type="number" name="quantite" ng-change="Calculer()" ng-model="ProduitAajouter.QuantiteBlock" class="m-wrap span6" min="1" required>
                                        <span class="add-on">{{ProduitAajouter.Produit.Block.Libelle}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="span4">
                            <div class="control-group">
                                <label class="control-label">Prix</label>
                                <div class="controls">
                                    <input type="number" ng-change="Calculer()" ng-model="ProduitAajouter.PrixBlock" class="m-wrap span12" min="1" required />
                                </div>
                            </div>
                        </div>

                        <div class="span4">
                            <div class="control-group">
                                <label class="control-label">Total</label>
                                <div class="controls">
                                    <input type="text" ng-model="ProduitAajouter.TotalBlock" class="m-wrap span12" disabled>
                                </div>
                            </div>
                        </div>
                    </div>

                    <h4 class="form-section" ng-if="((ProduitAajouter.Produit.Unite.IsBlock && ProduitAajouter.Produit.UniteParBlock > 1) || !ProduitAajouter.Produit.Unite.IsBlock) && (ProduitAajouter.TypeVenteId == TYPE_VENTE_UNITE_KEY)">Vente en unité</h4>
                    <div class="row-fluid" ng-if="((ProduitAajouter.Produit.Unite.IsBlock && ProduitAajouter.Produit.UniteParBlock > 1) || !ProduitAajouter.Produit.Unite.IsBlock) && (ProduitAajouter.TypeVenteId == TYPE_VENTE_UNITE_KEY)">
                        <div class="span4">
                            <div class="control-group">
                                <label class="control-label">Quantité</label>
                                <div class="controls">
                                    <div class="input-append">
                                        <input type="number" name="quantite" ng-change="Calculer()" ng-model="ProduitAajouter.QuantiteUnitaire" min="0" class="m-wrap span6" required />
                                        <span class="add-on">{{ProduitAajouter.Produit.Unite.Libelle}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="span4">
                            <div class="control-group">
                                <label class="control-label">Prix</label>
                                <div class="controls">
                                    <input type="number" ng-change="Calculer()" 1 ng-model="ProduitAajouter.PrixUnitaire" min="1" class="m-wrap span12 number" required />
                                </div>
                            </div>
                        </div>

                        <div class="span4">
                            <div class="control-group">
                                <label class="control-label">Total</label>
                                <div class="controls">
                                    <input type="text" ng-model="ProduitAajouter.TotalUnitaire" class="m-wrap span12" disabled>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn" ng-click="Annuler()">Annuler</button>
        <button type="button" ng-if="panierForm.typeVente.$valid && panierForm.quantite.$valid" data-dismiss="modal" class="btn blue" ng-click="AjouterAuPanier(ProduitAajouter)">Valider</button>
    </div>
</div>

<div ng-include="'include/factureCash.html'"></div>
<div ng-include="'include/factureClient.html'"></div>