<!-- BEGIN LOGO -->
<div class="logo">
    <!--<img src="assets/img/logo-big.png" alt="" />-->
    <div style="font-size:x-large">
        <span style="color:white">Poissonnerie</span> <span style="color:#00A0FF; font-weight:bold">la gloire</span>
    </div>
</div>
<!-- END LOGO -->
<!-- BEGIN LOGIN -->
<div class="content">
    <!-- BEGIN LOGIN FORM -->
    <form class="form-vertical login-form">
        <h3 class="form-title">Se connecter au compte</h3>
        <div class="alert alert-error hide" id="errorAlert">
            <span>{{ErrorMessage}}</span>
        </div>
        <div class="control-group">
            <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
            <label class="control-label visible-ie8 visible-ie9">Nom d'utilisateur</label>
            <div class="controls">
                <div class="input-icon left">
                    <i class="icon-user"></i>
                    <input class="m-wrap placeholder-no-fix" type="text" name="Login" autocomplete="off" placeholder="Nom d'utilisateur" ng-model="Profil.Login" />
                </div>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label visible-ie8 visible-ie9">Mot de passe</label>
            <div class="controls">
                <div class="input-icon left">
                    <i class="icon-lock"></i>
                    <input class="m-wrap placeholder-no-fix" type="password" name="Password" autocomplete="off" placeholder="Mot de passe" ng-model="Profil.Password" />
                </div>
            </div>
        </div>
        <div class="form-actions">
            <a class="btn blue pull-right" ng-click="Connexion()">
                Connexion <i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
        <div class="forget-password create-account">
            <h4>Mot de passe oublié ?</h4>
            <p>Pas de panique, contactez l'administrateur.</p>
        </div>
    </form>
</div>
<!-- END LOGIN -->
<!-- BEGIN COPYRIGHT -->
<div class="copyright">
    2016 &copy; Poissonnerie la gloire by SmallAppsPro.
</div>
<!-- END COPYRIGHT -->